Repository JaronZ/Forgeworks, pull requests merged in 2025-08, with the labels that each got.

#45 feat(forgeworks): add aether mod with addons
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/aether-emissivity.pw.toml
  packages/forgeworks/modpack/mods/aether-enhanced-extinguishing.pw.toml
  packages/forgeworks/modpack/mods/aether-overworld-ores.pw.toml
  packages/forgeworks/modpack/mods/aether-protect-your-moa.pw.toml
  packages/forgeworks/modpack/mods/aether-treasure-reforging.pw.toml
  packages/forgeworks/modpack/mods/aether.pw.toml
  packages/forgeworks/modpack/mods/deep-aether.pw.toml
  packages/forgeworks/modpack/mods/farmers-cutting-the-aether.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: mod, pack: forgeworks

#46 feat(forgeworks): add Small Ships mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/small-ships.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: mod, pack: forgeworks

#49 feat(forgeworks): add Flux Networks mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/flux-networks.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: mod, pack: forgeworks

#50 feat(forgeworks): add Bad Wither No Cookie - Reloaded mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/bad-wither-no-cookie-reloaded.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: mod, pack: forgeworks

#51 feat(forgeworks): add Better Compatibility Checker mod
  bin/cliff-synched
  packages/forgeworks/modpack/config/bcc-common.toml
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/better-compatibility-checker.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: mod, pack: forgeworks

#55 fix: croptopia salt ore drops ATO salt
  packages/forgeworks/src/data/croptopia/loot_table/blocks/salt_ore.json
Labels: type: bugfix, pack: forgeworks

#62 feat: added create config
  packages/forgeworks/modpack/config/create-server.toml
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/pack.toml
Labels: type: feature, pack: forgeworks

#76 feat: add MrCrayfish's Furniture Mod: Refurbished mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/framework.pw.toml
  packages/forgeworks/modpack/mods/refurbished-furniture.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type:mod, pack:forgeworks

#78 feat: add Create: Diesel Generators mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/create-diesel-generators.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type:mod, pack:forgeworks

#79 feat: add Create: Extended Wrenches mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/extended-wrenches.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type:mod, pack:forgeworks

#86 feat: enable sulfur ore
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/pack.toml
  packages/forgeworks/src/data/alltheores/worldgen/configured_feature/ore_sulfur.json
Labels: type:feature, pack:forgeworks

#108 feat: add Create: Colored mod
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/mods/create-colored.pw.toml
  packages/forgeworks/modpack/pack.toml
Labels: type:mod, pack:forgeworks

#110 ci: other workflows can run after this
  .github/workflows/refresh-modpack.yml
  packages/forgeworks/modpack/index.toml
  packages/forgeworks/modpack/pack.toml
Labels: pack:forgeworks
